<%= erb :'layouts/_header' %>

<h1>New Pigeon</h1>

<form action='/pigeons/new' method="POST">
<input type="text" name="pigeon[name][]" id="name">
<input type="text" name="pigeon[color][]" id="color">
<input type="text" name="pigeon[lives][]" id="lives">
<input type="submit" value="Save">
</form>



<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>
